{% extends 'empty.html.twig' %}

{% block google %}

<meta name="keywords" content="bicheech.com, bicheech, бичээч.ком, бичээч, typing, арван хуруугаар хурдан шивэх, Арван хуруугаар хурдан шивэж сургах">
<meta name="description" content="Арван хуруугаар хурдан шивэж сургах онлайн програм юм.">
{% endblock google %}

{% block body %}
<body style="background-color: rgb(56, 150, 217);">
    <table width="980" style="margin: 0px auto;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="3"><img src="/images/failbrowser/failbrowser-top.png"></td>
            </tr>

            <tr>
                <td>
                    <a href="https://www.google.com/chrome/" target="_BLANK"><img src="/images/failbrowser/failbrowser-chrome.png"></a>
                </td>

                <td style="border-right-color: rgb(234, 234, 234); border-left-color: rgb(234, 234, 234); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;">
                    <a href="https://www.firefox.com/" target="_BLANK"><img src="/images/failbrowser/failbrowser-firefox.png"></a>
                </td>

                <td>
                    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_BLANK"><img src="/images/failbrowser/failbrowser-edge.png"></a>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <a href="/" target="_BLANK"><img src="/images/failbrowser/failbrowser-typing-footer.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
{% endblock body %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block javascripts %}

{% endblock javascripts %}
