<ul id="keypad">
    <li id="current"></li>
    <li class="letter txtsmall">Num</li>
    <li class="letter">รท</li>
    <li class="letter">ร</li>
    <li class="letter">-</li>
    <li class="letter">7</li>
    <li class="letter">8</li>
    <li class="letter">9</li>
    <li class="plus">+</li>
    <li class="letter clearleft">4</li>
    <li class="letter">5</li>
    <li class="letter">6</li>
    <li class="padReturn txtsmall">Enter</li>
    <li class="letter clearleft">1</li>
    <li class="letter">2</li>
    <li class="letter">3</li>
    <li class="padZero clearleft">0</li>
    <li class="letter">.</li>
</ul>