{% extends 'base.html.twig' %}

{% block title %}Typing Test | Typing Lessons - Bicheech.com{% endblock %}

{% block body %}
    <div class="my_content">

        <div class="right_ads">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'tipday.html.twig' %}
            {% else %}
                {% include 'rec_regbox.html.twig' %}
            {% endif %}
            {% include 'levelbox.html.twig' %}

            {% include 'wall_fame.html.twig' %}
        </div>

        <div class="content">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %}
                <div class="login_warring"><a class="close" onclick="jQuery(this).parent().hide()">x</a>{% trans %}You are not logged in. Typing progress will not be saved.{% endtrans %}</div>
            {% endif %}
            <div class="container">
                <section class="widget_accordion">
                    <ul>
                        {% for entity in entities %}
                            <li>
                                <article>
                                    <div class="button">
                                        <span>+</span>
                                        <span>-</span>
                                    </div>
                                    <header>
                                        <a class="lang-course" href="{{ path('tutor_testlist',{"id":entity.id}) }}">
                                        {% if app.request.locale == 'mn' %}{{ entity.mnTitle }}{% endif %}
                                        {% if app.request.locale == 'en' %}{{ entity.enTitle }}{% endif %}
                                        <span class="start-link">{% trans %}Start{% endtrans %} »</span></a>
                                    </header>
                                </article>
                            </li>
                        {% else %}
                            No tests have been found.
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
{% endblock body %}
