<div class="level-box">
    <h3>{% trans %}Your Skill Level{% endtrans %}</h3>
    <div class="levelup_b" id="login-link">
        
        <p class="">{% trans %}You must be registered and signed in to use this feature.{% endtrans %}</p>
    </div>
</div>
