<div class="reg-box" id="login_link">
    <a href="{{ path('student_login') }}">
    <h3 class="head-box">{% trans %}Register Now{% endtrans %}! <br>{% trans %}It's free{% endtrans %}!</h3>
    </a>
    <p class="body-box">{% trans %}Register with Bicheech to track your progress, access additional content and compete for your place in the Hall of Fame.{% endtrans %}</p>
    <a href="{{ path('student_login') }}"><p class="food-box">{% trans %}Register Now{% endtrans %} »</p></a>
</div>
