<div class="reg-box">
    <h3 class="head-box">{% trans %}Tip of the Day{% endtrans %}</h3>
    <p class="body-box">{% trans %}Typing speed is calculated in two ways: Gross Speed is your overall words typed per minute. A word is 5 typed characters. Net Speed subtracts one word for each incorrectly typed character.{% endtrans %}</p>
</div>