<!--<div class="fame-box">
    <h3>{% trans %}Hall of Fame{% endtrans %}</h3>
    <img alt src="{{ asset('css/images/trophy.jpg') }}" />
    <p class="topuser">cwhitmarsh.13</p>
    <p class="topspeed">150WPM</p>
    <p class="topprec">97%</p>
    <a href="#" class="fame-link">{% trans %}Hall of Fame{% endtrans %}</a>
</div>-->
