<p>Сайн уу {{ name }},</p>

<p>Бид таны Bicheech-ийн нууц үг өөрчлөгдсөн гэдгийг мэдүүлэхийг хүссэн юм.</p>

<p>Хэрэв та асуудлуудтай тулгарч байгаа бол, https://bicheech.com/mn/contact-us/ айлчлах эсвэл энэ захианд хариу бичих замаар дэмжлэг холбоо барина уу.</p>

<br/><br/><br/><br/>

<p>Hello {{ name }},</p>

<p>We wanted to let you know that your Bicheech password was changed.</p>

<p>If you run into problems, please contact support by visiting https://bicheech.com/en/contact-us/ or replying to this email.</p>
