<p>Бид таны Бичээч.ком-ын нууц үгээ алдсан гэж сонссон. Уучлаарай энэ тухайд!</p>

<p>Гэхдээ санаа зовох хэрэггүй! Та нууц үгээ дараагийн өдрийн дотор дараах холбоосыг ашиглаж болно:</p>

<p>http://bicheech.com/mn/student/password-reset/{{token}}</p>

<p>Хэрэв та нар 24 цагийн дотор энэ холбоосыг хэрэглээгүй байгаа бол, энэ нь дуусна. Шинэ нууц үг холбоосыг дахин авахын тулд, http://bicheech.com/mn/password_reset/ авна</p>

<p>Баярлалаа,<p>

<br/><br/><br/>

<p>We heard that you lost your Bicheech.com password. Sorry about that!</p>

<p>But don’t worry! You can use the following link within the next day to reset your password:</p>

<p>http://bicheech.com/en/student/password-reset/{{token}}</p>

<p>If you don’t use this link within 24 hours, it will expire. To get a new password reset link, visit http://bicheech.com/en/password_reset/</p>

<p>Thanks,</p>
